<div class="jumbotron">
    <div class="pull-right" *ngIf="canRemove">
        <button class="btn" type="button" (click)="onRemovePoll()"><i class="fa fa-trash-o"></i></button>
    </div>
    <h1 class="header clearfix">{{ poll.title }}</h1>
    <h2 class="text-muted small">{{ poll.displayName }}</h2>
    
    <div class="row">
        <div class="col-12">
            <button class="twitter-share-button btn btn-primary"
            (click)="shareOnTwitter(poll.title, poll[$key])">
            <i class="fa fa-twitter"></i> Share on Twitter</button>
        </div>
        <div class="col-12 col-md-6" *ngIf="!voted">
            <div class="list-group">
                <a class="list-group-item list-group-item-action justify-content-between" (click)="onSubmit(i)" *ngFor="let option of poll.options;let i = index;">{{option.name}} <span class="badge badge-default badge-pill">{{option.votes}}</span></a>
            </div>
        </div>
        <div class="col-12 col-md-6" style="margin: 0 auto;">
            <div *ngIf="isDataAvailable">
                <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>
    </div>