<div class="row">
<div class="col-6">
<h2>{{ poll.title }}</h2>
<h3>{{ poll.displayName }}</h3>
<div *ngIf="!voted">
  <div class="form-group">
    <select #option class="form-control" id="options" (change)="vote.disabled = false;">
      <option disabled selected value="0">Select Option...</option>
      <option *ngFor="let option of poll.options;let i = index;" [value]="i">{{option.name}}</option>
    </select>
  </div>
  <button type="button" (click)="onSubmit(option.value)" class="btn btn-primary" disabled="true" #vote>Vote</button>
</div>
<div *ngIf="voted">
  <h4>Voto Registrado</h4>
</div>
</div>
<div class="col-6" style="margin: 0 auto;">
<div *ngIf="isDataAvailable">
  <canvas baseChart
    [data]="doughnutChartData"
    [labels]="doughnutChartLabels"
    [chartType]="doughnutChartType"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)"></canvas>
</div>
</div>
</div>